.thirdHero__bg{
    background: #000000;
    padding: 10rem 0;
    background-image: url(https://unrealspeech.com/images/glow.jpg);
    background-size: 57%;
    background-repeat: no-repeat;
    background-position-x: -35%;
    height: 110vh!important;
}

.container-lg{
    width: 90%;
    margin: 0 auto;
}

.thirdHero__content{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}
.thirdHero__content > .heading{
    /* max-width: 650px; */
    width: 100%;
    text-align: center;
    font-size: 6rem;
}
.thirdHero__content > .text{
    max-width: 76%;
    width: 100%;
    text-align: center;
    line-height: 1.7;
    color: #80858d;
}
.thirdHero__card{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    /* background-color: white; */
}
.card{
    /* box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.1); */
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* gap: 1rem; */
    cursor: pointer;
    transition: var(--transition);
    /* background: var(--color--white); */
    border:2px solid #3cf7a2;
    /* background-color: #9dfbd1; */
    background-image: linear-gradient(to bottom, white, rgb(59, 180, 250));
    border-radius: 1rem;
    /* border: 2px solid white; */
}
.card2{
    background-image: linear-gradient(to bottom, white,  rgb(197, 51, 255));
    border-color: rgb(197, 51, 255);
}
.card3{
    background-image: linear-gradient(to bottom, white,  #ebc444e1);
    border-color: #ffcc29;
}
.card-item{
    display: grid;
    align-items: center;
    justify-content: center;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    flex-direction: column;
    z-index: 10;
    position: relative;
    text-align: center;
    gap: 1.2rem;
    font-weight: 700;
    color: black!important;
    width: 82%;
}
.card:hover{
    transform: scale(1.05);
}

.card-item .sub__heading{
    font-weight: 800;
    font-size: 3.2rem;
    color: black;
}
.card-item .text{
    font-weight: 900;
    color: black;
    font-size:1.6rem;
}
/* .card__icon{
    display: grid;
    place-items: center;
    background: var(--extra-color-3);
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: 2rem;
    transition: var(--transition);
} */
/* .card__icon{
    background: var(--color--luminous-vivid-amber);
}
.card__icon > svg{
    font-size: 4rem;
    color: var(--color--white);
} */

.icon---small{
    width: 4rem;
    object-fit: contain;
    margin:0 auto 1rem auto;
}
.colorful-card-gradient{
    width: 100%;
    height: 100%;
    /* background-image: linear-gradient(to bottom, rgb(255, 0, 0), rgb(255, 0, 0)); */
    transition: all 1s;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
}





/* =========MEDIA QUERIES(MEDIAM SCREEN)======== */
@media screen and (max-width: 1024px) {
    .thirdHero__bg{
        padding: 9rem 0;
    }
    .thirdHero__card{
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
    }
}
  

/* =========MEDIA QUERIES(SMALL SCREEN)======== */
@media screen and (max-width: 678px) {
    .thirdHero__bg{
        padding: 8rem 0;
    }
    .thirdHero__card{
        margin-top: 6rem;
        grid-template-columns: 1fr;
        gap: 3rem;
    }
  
  }